body {

    background-color: antiquewhite;

}

h1 {

    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;

    letter-spacing: 3px;
    
    color: white;
    

}